URxvt.scrollBar: false
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.font: xft:Iosevka SS04:size=10
URxvt.boldFont: xft:Iosevka SS04:style=bold:size=10
URxvt.italicFont: xft:Iosevka SS04:style=italic:size=10
URxvt.boldItalicFont: xft:Iosevka SS04:style=bolditalic:size=10
URxvt.internalBorder: 0
URxvt.perl-ext-common: default,resize-font
URxvt.iso14755: false
URxvt.iso14755_52: false

! colorscheme
*.background: #101010
*.foreground: #d0d0d0
*.cursorColor: #d0d0d0
*.color0: #101010
*.color1: #960050
*.color2: #66aa11
*.color3: #c47f2c
*.color4: #30309b
*.color5: #7e40a5
*.color6: #3579a8
*.color7: #9999aa
*.color8: #303030
*.color9: #ff0090
*.color10: #80ff00
*.color11: #ffba68
*.color12: #5f5fee
*.color13: #bb88dd
*.color14: #4eb4fa
*.color15: #d0d0d0
